Repository liangjiayu/ai-code-lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, biome-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # åç«¯ Python: Ruff
      - id: ruff-format
        name: "ğŸ¨ Ruff Format"
        entry: uv run --project backend ruff format --force-exclude
        require_serial: true
        language: system
        types: [python]
        files: ^backend/

      - id: ruff-check
        name: "ğŸ” Ruff Check"
        entry: uv run --project backend ruff check --force-exclude --fix
        require_serial: true
        language: system
        types: [python]
        files: ^backend/

      # å‰ç«¯: Biome
      - id: biome-check
        name: "ğŸ¨ Biome Check"
        entry: ./frontend/node_modules/.bin/biome check --write --no-errors-on-unmatched
        require_serial: true
        language: system
        files: ^frontend/

chore: 编辑器设置
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  backend/.vscode/extensions.json
  backend/.vscode/settings.json
Due: none

chore: 名称调整
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
Due: biome-check

chore: 添加项目文档和代码格式配置
  README.md
  backend/app/repositories/message_repository.py
  backend/pyproject.toml
  backend/uv.lock
  biome.json
Due: ruff-format, ruff-check

chore: 添加.ruff_cache/到.gitignore
  .gitignore
Due: none

chore: 配置Markdown格式化器和更新文档
  .vscode/settings.json
  frontend/CLAUDE.md
Due: biome-check

chore: 删除无用文件和规范命名
  frontend/src/components/layout/sidebar.tsx
  frontend/src/lib/mock-data.ts
Due: biome-check

chore: classname排序
  biome.json
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/welcome-area.tsx
  frontend/src/components/layout/conversation-item.tsx
  frontend/src/components/layout/conversation-list.tsx
  frontend/src/components/layout/main-header.tsx
  frontend/src/components/layout/sidebar-footer.tsx
  frontend/src/components/layout/sidebar-header.tsx
  frontend/src/components/layout/sidebar.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/root.tsx
  frontend/src/routes/app-layout.tsx
  frontend/src/routes/chat.tsx
  frontend/src/routes/not-found.tsx
Due: biome-check

chore: 优化聊天输入框样式和添加MainFooter组件
  frontend/src/components/chat/chat-input.tsx
  frontend/src/components/chat/welcome-area.tsx
  frontend/src/components/layout/main-footer.tsx
  frontend/src/routes/app-layout.tsx
Due: biome-check

feat: 添加深度思考和联网搜索按钮点击高亮效果
  frontend/CLAUDE.md
  frontend/src/components/chat/chat-input.tsx
  frontend/src/styles/tailwind.css
Due: biome-check

refactor: 拆分 chat-message-list 为多个组件文件，删除AI头像，调整间距
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/loading-indicator.tsx
  frontend/src/components/chat/user-message.tsx
Due: biome-check

fix: 修复中文输入法组合输入时 Enter 误触发发送的问题
  frontend/src/components/chat/chat-input.tsx
Due: biome-check

feat: 为用户消息添加复制和编辑功能
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/user-message.tsx
  frontend/src/lib/utils.ts
Due: biome-check

feat: 为AI消息添加复制、重新生成、喜欢和不喜欢按钮
  frontend/src/components/chat/ai-message.tsx
Due: biome-check

feat: 为聊天消息列表底部添加渐变蒙层
  frontend/src/components/chat/chat-message-list.tsx
Due: biome-check

feat: 新增编辑消息接口，支持修改用户消息后重新生成AI回复
  backend/app/api/chat.py
  backend/app/repositories/message_repository.py
  backend/app/schemas/chat.py
  backend/app/services/chat_service.py
Due: ruff-format, ruff-check

feat: 新增重新生成AI回复接口 retry_completion
  backend/app/api/chat.py
  backend/app/repositories/message_repository.py
  backend/app/schemas/chat.py
  backend/app/services/chat_service.py
Due: ruff-format, ruff-check

chore: api生成
  frontend/src/services/api/chat.ts
  frontend/src/services/api/typings.d.ts
Due: biome-check

feat: 完善用户消息编辑逻辑，接入 edit_completion SSE 接口
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/user-message.tsx
  frontend/src/queries/use-messages.ts
Due: biome-check

feat: 完善AI消息重新生成功能，接入 retry_completion SSE 接口
  frontend/src/components/chat/ai-message.tsx
  frontend/src/queries/use-messages.ts
Due: biome-check

feat: 限制编辑和重新生成仅对最后一条消息生效
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/user-message.tsx
Due: biome-check

feat: 为消息操作按钮添加 Tooltip 文案提示
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/chat/user-message.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/root.tsx
Due: biome-check

refactor: 提取 AI Markdown 样式为独立 CSS 类，优化 Tooltip 组件
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/styles/tailwind.css
Due: biome-check

feat: 添加 Markdown GFM 表格支持和代码语法高亮
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/chat/ai-message.tsx
  frontend/src/styles/tailwind.css
Due: biome-check

fix: 修复代码块样式被 highlight.js 覆盖的问题
  frontend/src/styles/tailwind.css
Due: biome-check

refactor: 提取 Markdown 渲染为独立组件模块
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/markdown/index.css
  frontend/src/components/markdown/index.tsx
  frontend/src/styles/tailwind.css
Due: biome-check

chore: 调整钩子函数
  .pre-commit-config.yaml
Due: none

fix: 移除对话消息列表自动滚动到底部的功能
  frontend/src/components/chat/chat-message-list.tsx
Due: biome-check

refactor: 将所有 interface 声明统一改为 type
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/user-message.tsx
  frontend/src/components/layout/conversation-item.tsx
  frontend/src/components/markdown/index.tsx
  frontend/src/lib/sse-fetch.ts
  frontend/src/stores/chat-store.ts
  frontend/src/types/chat.ts
Due: biome-check

feat: 加载动画调整
  frontend/src/components/chat/ai-message.tsx
  frontend/src/components/chat/chat-message-list.tsx
  frontend/src/components/chat/loading-indicator.tsx
  frontend/src/routes/chat.tsx
Due: biome-check

feat: 对话消息列表自动滚动到底部，支持用户滚动时跳过
  frontend/src/components/chat/chat-message-list.tsx
Due: biome-check

refactor: SSE 流式输出调整为标准格式，使用 event 字段区分事件类型
  backend/app/services/chat_service.py
Due: ruff-format, ruff-check

feat: SSE 支持 event 字段解析，使用服务端返回的真实 message_id
  frontend/src/lib/sse-fetch.ts
  frontend/src/queries/use-messages.ts
  frontend/src/stores/chat-store.ts
Due: biome-check

feat: 添加 stop_response 接口，支持终止 SSE 流式响应
  backend/app/api/chat.py
  backend/app/schemas/chat.py
  backend/app/schemas/message.py
  backend/app/services/chat_service.py
  backend/app/services/stream_manager.py
Due: ruff-format, ruff-check

feat: 添加对话终止功能，发送时按钮切换为停止图标，支持中止 SSE 流式响应
  frontend/src/components/chat/chat-input.tsx
  frontend/src/lib/sse-fetch.ts
  frontend/src/queries/use-messages.ts
  frontend/src/services/api/chat.ts
  frontend/src/services/api/typings.d.ts
  frontend/src/stores/chat-store.ts
Due: biome-check

fix
  backend/app/services/chat_service.py
Due: ruff-format, ruff-check
